
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> App Status Chart
    </div>
    <div class="panel-body">
        <div id="morris-donut-chart"></div>
        <a href="@Url.Action("Index","App")" class="btn btn-default btn-block">View Details</a>
    </div>
    <!-- /.panel-body -->
</div>
