<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <varialble name="logDirectory" value="C:/Logs/${processname}"/>
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target type="File" name="file" fileName="C:/Logs/jetonapi_logs/${shortdate}.log"
            layout="${longdate}|${mdlc:item=requestid}|${uppercase:${level}}|${message}" />

    <target name="database"
            xsi:type="Database"
            connectionStringName="JetonEntities"
            commandText="INSERT INTO [dbo].[Logs]([Level], [Logger], [Message], [TimeStamp], [MachineName]) VALUES (@LOGLEVEL, @LOGGER, @MESSAGE, @TIMESTAMP, @MACHINENAME);">
      <parameter name="@LOGLEVEL" layout="${level:uppercase=true}" />
      <parameter name="@LOGGER" layout="${logger}" />
      <parameter name="@TIMESTAMP" layout="${longdate}" />
      <parameter name="@MESSAGE" layout="${message}" />
      <parameter name="@MACHINENAME" layout="${machinename}" />
    </target>

    <target xsi:type="EventLog"
           name="eventlog"
           source="${appName}"
           layout="${message}${newline}${exception:format=ToString}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="database" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
  </rules>
</nlog>