@{
    ViewBag.Title = "Logs";
}
@section Styles{
    <link href="@Url.Content("~/Content/jjsonviewer.css")" rel="stylesheet" />
    <style type="text/css">
        .close { float: left !important; font-size: inherit !important; font-weight: inherit !important; line-height: inherit !important; -ms-opacity: 1 !important; opacity: 1 !important; }
        .modal { text-align: center; }

        @@media screen and (min-width: 768px) {
            .modal:before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }
        }

        .modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
        .progress { height: 40px; }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Logs
        </h1>

    </div>
</div>
<div class="row">

    <div class="col-md-3 offset-md-9">
        <div class="form-group input-group">
            <input type="text" class="form-control" name="daterange" id="daterange" value="" />
            <span class="input-group-btn">
                <button id="btnGetLogs" class="btn btn-success" type="button">
                    GET
                </button>
            </span>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Logs
            </div>
            <div class="panel-body">
                <table id="logdatatable" class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Machine
                            </th>
                            <th>
                                Request IP Address
                            </th>
                            <th>
                                Request Method
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody id="logs_body"></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                Log Detail <span id="log_id"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Request
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Properties</th>
                                            <th>
                                                Values
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Application</th>
                                            <td><span id="req_application"></span></td>

                                        </tr>
                                        <tr>
                                            <th>Machine</th>
                                            <td><span id="req_machine"></span></td>

                                        </tr>
                                        <tr>
                                            <th>IP Address</th>
                                            <td>
                                                <span id="req_ipaddress"></span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Content Type</th>
                                            <td><span id="req_contenttype"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Content Body</th>
                                            <td><span id="req_contentbody"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Uri</th>
                                            <td><span id="req_uri"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Method</th>
                                            <td><span id="req_method"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Route Template</th>
                                            <td><span id="req_routetemplate"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Route Data</th>
                                            <td><span id="req_routedata"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Headers</th>
                                            <td><span id="req_headers"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Timestamp</th>
                                            <td><span id="req_timestamp"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Response
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Properties</th>
                                            <th>
                                                Values
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Content Type</th>
                                            <td><span id="res_contenttype"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Content Body</th>
                                            <td><span id="res_contentbody"></span></td>
                                        </tr>

                                        <tr>
                                            <th>Status Code</th>
                                            <td><span id="res_statuscode"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Headers</th>
                                            <td><span id="res_responseheaders"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Timestamp</th>
                                            <td><span id="res_timestamp"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <h4>Loading...</h4>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section Scripts{

    <script src="@Url.Content("~/Scripts/jjsonviewer.js")"></script>
    <script type="text/javascript">
        var _dateFormat = "DD.MM.YYYY hh:mm:ss";
        var selected = [];
        var startDate = moment();
        var endDate = moment();
        var table;
        $(document).ready(function () {



            $("#btnGetLogs").click(function () {
                //console.log(startDate.format(_dateFormat) + " - " + endDate.format(_dateFormat));
                GetLogs(startDate.format(_dateFormat), endDate.format(_dateFormat));
            });

            //Init Default Dates
            GetLogs(startDate.format(_dateFormat), endDate.format(_dateFormat));

            $('#logs_body').on('click', 'tr', function () {
                if ($(this).hasClass('danger')) {
                    $(this).removeClass('danger');
                }
                else {
                    table.$('tr.danger').removeClass('danger');
                    $(this).addClass('danger');
                }
            });

        });

        //Daterange picker
        $('#daterange').daterangepicker({
            locale: {
                format: _dateFormat
            },
            startDate: moment(),
            endDate: moment(),
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: false,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, function (start, end) {
            //$('#reportrange span').html(start.format(_dateFormat) + ' - ' + end.format(_dateFormat));
            startDate = start;
            endDate = end;
        });

        function GetLogDetail(rowid) {
            var logId = rowid;
            $('#loadingModal').modal('toggle');
            $.getJSON("@Url.Action("GetLogDetail","Log")", { "id": logId }, function (data) {
                if (data == null) return false;
                try {
                    //Request Info
                    $("#log_id").text(data.Id);
                    $("#req_application").text(data.Application);
                    $("#req_machine").text(data.Machine);
                    $("#req_ipaddress").text(data.RequestIpAddress);
                    $("#req_contenttype").text(data.RequestContentType);
                    if (data.RequestContentBody !== "")
                        $("#req_contentbody").jJsonViewer(data.RequestContentBody);
                    $("#req_uri").text(data.RequestUri);
                    $("#req_method").text(data.RequestMethod);
                    $("#req_routetemplate").text(data.RequestRouteTemplate);
                    if (data.RequestRouteData !== "")
                        $("#req_routedata").jJsonViewer(data.RequestRouteData);
                    if (data.RequestHeaders !== "")
                        $("#req_headers").jJsonViewer(data.RequestHeaders);
                    $("#req_timestamp").text(ToJavaScriptDate(data.RequestTimestamp) + "(UTC)");
                    //Response Info
                    $("#res_contenttype").text(data.ResponseContentType);
                    if (data.ResponseContentBody !== "")
                        $("#res_contentbody").jJsonViewer(data.ResponseContentBody);
                    $("#res_statuscode").text(data.ResponseStatusCode);
                    if (data.ResponseHeaders !== "")
                        $("#res_responseheaders").jJsonViewer(data.ResponseHeaders);
                    $("#res_timestamp").text(ToJavaScriptDate(data.ResponseTimestamp) + "(UTC)");
                } catch (e) {

                }




            }).done(function () {
                $('#loadingModal').modal('hide');
            });
        }


        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return moment(dt).format(_dateFormat);
//dt.getDate() + "." + (dt.getMonth() + 1) + "." + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getMilliseconds();
        }

        function GetLogs(startDate, endDate) {

            $('#loadingModal').modal('toggle');

            if (startDate === "")
                alert("Start date is empty");

            if (endDate === "")
                alert("End date is empty");

            $.getJSON("@Url.Action("GetLogs","Log")", { "startDateTime": startDate, "endDateTime": endDate },
                function (logs) {
                    var tr;
                    table = $('#logdatatable')
                        .DataTable({
                            "responsive": true,
                            "paging": true,
                            "destroy": true,
                            "scrollY": "400px",
                            "scrollCollapse": true
                        });

                    table.clear();
                    var rowId;
                    for (var i = 0; i < logs.length; i++) {
                        rowId = logs[i].Id;
                        var index = table.row.add([
                            logs[i].Id,
                            ToJavaScriptDate(logs[i].Created) + "(UTC)",
                            logs[i].Machine,
                            logs[i].RequestIpAddress,
                            logs[i].RequestMethod,
                            logs[i].ResponseStatusCode,
                        ]).draw().index();

                        var $tr = table.rows(i).nodes().to$();
                        $tr.attr("data-rowid", rowId);
                        $tr.click(function (e) {
                            GetLogDetail(rowId);
                        });
                    }
                }).done(function () {
                    $('#loadingModal').modal('hide');
                });


        }

    </script>
}
